<!doctype html>
<html lang="en">
<head>
    <title>operator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script>
        window.API_BASE_URL='/dc-operator/api';
    </script>
    <script defer src="https://qa5.clubber.me/rsbuild-template-spa/dist/index.js"></script>
    <link href="https://qa5.clubber.me/rsbuild-template-spa/dist/index.css" rel="stylesheet">
</head>

<body class="awsui-dark-mode" style="background-color: #131925">
<div id="root"></div>
</body>

</html>
